body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

  .branch {
    fill: none;
    stroke: #f1ef7a;
    stroke-width: 2;
    transition: stroke 0.3s ease;
  }
  
  .branch.executed {
    stroke: green;
  }
  
  .branch.not-executed {
    stroke: red;
  }
  /* .container {
    text-align: center;
  } */
  .figure-svg {
    background-color: antiquewhite;
    width: 800px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
  }
  .animated-object {
    fill: rgb(0, 255, 13); /* Fill color of the object */}